
html {scroll-behavior: smooth;}

body {margin: 0; padding: 0; font-family: 'Rubik', sans-serif;}

h1, h2, h3, h4, h5, h6 {font-family: 'Rubik', sans-serif;}
p { margin: 0;font-family: 'Rubik', sans-serif;}

* {outline: none; }
a:focus {text-decoration: none; outline: none;}
a:visited, a:focus {outline: none; text-decoration: none;}
.slick-list {outline: none;}

/* gapping class  Start*/
::-webkit-scrollbar {width:10px;height:10px;}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display:none;}
::-webkit-scrollbar-track-piece {background-color:#fff;-webkit-border-radius:0px;border-left:1px solid #fff;}
::-webkit-scrollbar-thumb:vertical {-webkit-border-radius:0px;background:#00bcb4;}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
    -webkit-border-radius: 0px;
    border-left: 1px solid #fff;
}

.clear {clear: both;}

/* padding */
.pad-r {padding-right: 0 !important}
.pad-l {padding-left: 0 !important}
.pd-60-tb {padding-top: 60px !important; padding-bottom: 60px !important;}
.pd-68-tb {padding-top: 68px !important; padding-bottom: 68px !important;}
.pd-49-tb {padding-top: 49px !important; padding-bottom: 49px !important;}
.pd-60-t {padding-bottom: 80px !important;}
.pd-60-b {padding-bottom: 60px !important;}
.no-pad {padding: 0 !important}
/* margin */
.mr-30-tb {margin-top: 30px; margin-bottom: 30px;}
.mr-60-tb {margin-top: 60px !important; margin-bottom: 60px !important;}
.main-mr-l-r {margin-left: 15px; margin-right: 15px}

/* gapping class  End*/



.border-no-r {border-right: 0 !important;}
.border-no-l {border-left: 0;}

/* Sweep To Top */
.hvr-sweep-to-top {  
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #044c83;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  color: #fff;
  border-radius: 12px;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: #333;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

ul {margin: 0; padding: 0;list-style: none;}

.header.head-tag-sticky {
    position: sticky;
    background: #fff;
    z-index: 999;
    box-shadow: 0 0 19px #c5bcbc;
}
.header {padding: 0;position: unset;top: 0;width: 100%;margin: 0; transition: all 0.6s ease-in;}
.logo {
    margin: 30px 0;
    color: #000;
    font-size: 18px;
    font-weight: 700;
}

.drplst {margin: 30px 0 0;padding: 0;text-align: center;}
.drplst>ul {margin: 0; padding: 0; list-style: none; font-size: 0}
.drplst>ul>li {margin: 0;padding: 5px 26px;display: inline-block;border: 1px solid #000;width: 128px;text-align: left;font-size: 16px;text-transform: capitalize;position: relative;}
.drplst>ul>li:first-child {border-right: none;}
.drplst>ul>li:after {position: absolute;right: 11px;top: 3px;content: "\f078";font-family: FontAwesome;font-weight: 300;}
.drplst>ul>li> a {display: block; color: #000;}
.drplst>ul>li> a:hover {text-decoration: none;}

.drplst>ul>li ul {
    display: none;
    position: absolute;
    left: -31px;
    list-style: none;
    padding: 12px 16px 0;
    margin: 0;
    border: 1px solid #000;
    width: 159px;
    top: 32px;
    background: #fff;
    z-index: 999;
}

.drplst>ul>li:hover ul {
    display: block;
}

.drplst>ul>li ul li {
    text-align: left;
    font-size: 14px;
    margin: 0 0 10px;
}

.drplst>ul>li ul li a {
    color: #000;
    transition: all 0.4s ease-out;
}

.drplst>ul>li ul li a:hover {
    text-decoration: none;color: #3fc1d9;
}

.drplst>ul>li:nth-child(2) ul {
    right: -33px;
    left: unset;
}

.navi {margin: 30px 0 0 0;padding: 0;}
.navi ul {margin: 0; padding: 0; list-style: none; font-size: 0;}
.navi ul li {display: inline-block;font-size: 16px;transition: all 0.4s ease-out;margin: 0 0 0 20px; text-transform: capitalize;}
.navi ul li a {color: #000;padding: 15px 9px;}
.navi ul li a:hover {text-decoration: none;color: #3fc1d9;}
.navi ul li:last-child {
    border: 1px solid #000;
    padding: 4px 7px;
}

.navi ul li:last-child a:hover {color: #000;}
.navi ul li:last-child:hover {border-color: #3fc1d9;}

.baner {background: url(../images/banner.jpg) no-repeat center top;height: 364px; margin: 30px 0 0 0;padding: 0 90px;}

.baner.banr2 {background: url(../images/banner1.jpg) no-repeat center top;} 
.ban-txt {margin: 0 0 0 0;padding: 50px 0 0;}
.ban-txt h1 {font-size: 40px;color: #fff;/* font-weight: 500; */line-height: 51px;}


.lstban {margin: 0 0 0 28px;padding: 0;}
.lstban ul li {margin: 0 0 20px 0;padding: 0;list-style: none;font-size: 22px;color: #fff;}
.ban-frm {
    background: #fff;
    width: 320px;
    display: block;
    float: right;
    padding: 20px 20px;
    margin: 39px 0 0;
    border-radius: 5px;}

.ban-frm h2 {color: rgb(82, 82, 82); font-size: 16px; margin: 0 0 15px 0;}

.inp-sty input { padding: 15px 12px; width: 100%; border: 1px solid rgb(224, 224, 224); color: #000;  margin: 0 0 20px 0;}

.inp-sty input::placeholder {color: rgb(224, 224, 224);}

.inp-sty {position: relative;}
.inp-sty select { padding: 15px 12px; width: 100%; border: 1px solid rgb(224, 224, 224); color: rgb(133, 133, 133);
    margin: 0 0 20px 0; -webkit-appearance: none;}

.inp-sty i {position: absolute;top: 17px;right: 7px;content: '';color: #858585;}

.ban-frm button {
    display: block;
    background: none rgb(161, 227, 217);
    color: #fff;
    border: none;
    padding: 12px 0;
    font-size: 16px;
    width: 100%;
}

.clientbx ul li {
    display: inline-block;
    margin: 0 80px 0 0px;
    text-align: center;
}

.clientbx {
    text-align: center;
    margin: 40px  0;
}

section.main-goals {
    border-top: 1px solid rgb(199, 199, 199);
    padding: 34px 0 0 0;
}

section.main-goals h3 {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;
}

section.main-goals p {
    text-align: center;
    color: rgb(82, 82, 82);
    font-size: 16px;
    margin: 0 0 60px;
}

.imbx img {width: 65px;}


.bx1 {text-align: center;}

.imbx {
    background: rgb(237, 250, 249);
    width: 112px;
    height: 112px;
    padding: 20px 0 0 0;
    border-radius: 100%;
    border: 1px solid rgb(223, 242, 242);
    margin: 0 auto;
}
.bx1 h5 {
    font-size: 18px;
    color: rgb(82, 82, 82);
    margin: 20px 0 10px 0;
}

.bx1 p {
    font-size: 14px !important;color: rgb(82, 82, 82);
}

.main-getloan {background-color: #f2f5f7; position: relative; padding: 60px 0; margin: 80px 0 100px;}
.gtl-text h3 {
    color: rgb(51, 51, 51);
    font-size: 28px;
    margin: 0 0 30px 0px;
}

.gtl-lst {
    margin: 0 0 25px 0px;
}

.gtl-lst .media-left h4 {
    background: rgb(33, 228, 193);
    height: 52px;
    width: 52px;
    text-align: center;
    color: #fff;
    border-radius: 100%;
    border: 5px solid rgb(125, 240, 221);
    padding: 12px 0 0 0;
    position: relative;
    top: -20px;
}

.gtl-lst .media-left {
    position: relative;
    top: 10px;
    margin: 0 0 0 0px;
    padding: 0 20px 0 0;
}
.gtl-imbx {
    position: absolute;
    top: -38px;
    right: 0;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.2901960784313726);
}

.gtl-imbx img {
    width: 685px;
}

.main-getstart {margin: 0; padding: 0; background: url(../images/setstart-im.jpg) no-repeat top center; height: 396px;}

.gtt-text h2 {
    color: #fff;
    text-align: center;
    font-size: 31px;
}
.gtt-text h3 {
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.gtt-text {
    padding: 80px 0;
}

.gtt-text a {
    border: 1px solid #fff;
    width: 250px;
    display: block;
    margin: 30px auto 0;
    padding: 14px 0;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: capitalize;
}

footer.main-footer {
    margin: 0;
    padding: 80px 0 80px;
    background: rgb(250, 250, 250);
}

.ft-lst {}

.ft-lst h5 {
    text-transform: capitalize;
    font-size: 16px;
    margin: 0 0 23px;
    font-weight: 400;
}

.ft-lst {}

.ft-lst ul li {
    font-size: 14px;
    margin: 0 0 10px 0;
    font-weight: 300;
}

.ft-lst ul li a {
    color: #000;
}

.ftloga {
    font-weight: 700;
    font-size: 17px;
    margin: 0 0 15px 0;
}

.social-bx li {
    display: inline-block;
    margin: 11px 20px 0 0;
}

.social-bx li a {
    color: rgb(99, 99, 99);
    font-size: 19px;
}

.copyrit {
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
    padding: 30px 0;
}

.trm-lst ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.trm-lst {
    text-align: right;
}

.trm-lst ul li:last-child {
    margin: 0;
}

.trm-lst ul li a {
    color: rgb(122, 122, 122);
}

.copyrit p {
    color: rgb(122, 122, 122);
}
p.ft-para {
    color: rgb(117, 117, 117);
    font-size: 13px;
    margin: 30px 0 0;
}
.ftloga img {
    width: 91px;
}

.logo img {
    width: 130px;
}

/*couterrrrrrrrrrrrrrrrr*/
.main-count {margin: 130px 0 60px 0;background: -webkit-linear-gradient(left, rgb(86, 164, 236) 0%, rgb(33, 228, 193) 100%);padding: 70px 0 24px;}
#counter {width: 100px;height: 100px;float:left;margin: 0 0px 0 0;width: 33.3%;text-align: center;font-weight: 400;/* border-right: 1px solid #d0d0d0; */}
#counter:last-child {border: none;}
.count {line-height: 56px;color: #fff;margin-left:30px;font-size: 35px;}
#counter i {font-size: 35px;font-style: normal;color: #fff;}
#counter p {font-size: 15px;color: #fff;}

.main-usersay {margin: 80px 0 80px;padding: 0;}
.main-usersay h2 {text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;}
.main-usersay p {
    text-align: center;
    color: rgb(82, 82, 82);
    font-size: 16px;
    margin: 0 0 60px;
}
.testimo p {
    text-align: left;
    margin: 0 0 20px;
}

.testimo {
    padding: 20px 30px;
    box-shadow: 0 0 24px #d8d0d0;
    border-radius: 2px;
}

.user {}

.user .media-left IMG {
    border-radius: 100%;
}

.abt-txt h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
}

.abtlst {
    margin: 0;
    padding: 0;
}

.abtlst ul li {
    display: inline-block;
    font-size: 16px;
    text-transform: capitalize;
    border: 1px solid #000;
    padding: 5px 16px;
}

.abtlst ul li a {
    display: block;
    color: #000;
    transition: all 0.4s ease-in;
}

.abtlst ul li:hover {
    border-color: #3fc1d9;
    text-decoration: none;
}

.abtlst ul li a:hover {
    
    text-decoration: none;
}

.abt-txt {
    padding: 0 0 0 108px;
}
.imabt {
    margin: 30px 0;
}
section.main-goals.abt {
    margin: 0;
    padding: 20px 0 0;
    border: none;
}

section.main-goals.abt p {
    margin: 0 0 20px;
}

section.main-count.abt  #counter i {
    margin: 0 12px 0 0;
}

section.main-count.abt {
    margin: 60px 0 40px;
}
section.main-team h3 {
    text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;
}

section.main-team p {}

section.main-team p {
    text-align: center;
    color: rgb(82, 82, 82);
    font-size: 16px;
    margin: 0 0 60px;
}
.team h6 {
    font-size: 16px;
    color: #636363;
    margin: 11px 0 6px;
}

.team p {
    text-align: left !important;
    font-size: 13px !important;
    color: #696969;
    padding: 0 21px 0 !important;
    display: block;
    background: re;
}
section.main-team {
    padding: 0 137px;
}

.clientabt h3 {text-align: center;
    color: rgb(51, 51, 51);
    font-size: 30px;}

.clientabt p {text-align: center;
    color: rgb(82, 82, 82);
    font-size: 16px;
    margin: 0 0 60px;}

    .news {
    box-shadow: 0 0 17px #b3b3b361;
    padding: 20px 36px 58px;
    margin: 0 0 0;
}

.news h5 {
    font-size: 15px;
    color: #525252;
}

.news h6 {
    font-size: 14px;
    font-weight: 300;
    color: #757575;
}

.news p {
    font-size: 19px;
    color: #555;
}

.news a {
    width: 103px;
    border: 1px solid #000;
    padding: 7px 0;
    font-size: 16px;
    text-transform: capitalize;
    color: #333;
    display: block;
    text-align: center;
    float: right;
}

.news a:hover {border-color: #3fc1d9; text-decoration: none;}
section.main-news {
    margin: 20px 0 60px;
}

.hom-txt h1 {
    font-size: 36px;
    color: #333;
}

.hom-txt p {
    font-size: 30px;
    color: #333;
}

.hom-txt a {
    padding: 12px 22px;
    font-size: 16px;
    color: #fff;
    background: radial-gradient(at 10% 10%, rgb(33, 228, 193) 0%, rgb(86, 164, 236) 100%);
    margin: 20px 0 0;
    display: inline-block;
    font-weight: 500;
}

header.header.chkout .logo {
    margin: 15px 0 15px 20px;
}

header.header.chkout {
    box-shadow: 0 0 12px #ddd;
}

.main-chkout {background: #f2f5f5; padding: 80px 0;}
.frm-bx {}

.frm-bx {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 0 30px 0;
}

.frm-bx h2 {
    font-size: 16px;
    color: #636363;
    padding: 14px 0 15px 20px;
    border-bottom: 1px solid #ddd;
    margin: 0;
}

.frm-gap {
    padding: 15px 20px;
}

.inp-sty1 label {
    display: block;
    color: #696969;
    font-weight: 400;
    text-align: right;
    margin: 16px 0 0 0;
    font-size: 15px;
}


.frm-gap .inp-sty input {
    padding: 15px 15px;
}
.inp-sty span {
    font-size: 22px;
    position: absolute;
    left: 15px;
    top: 9px;
}

section.main-chkout h1 {
    font-size: 26px;
    color: #555;
    margin: 0 0 25px 18px;
}
.inp-sty.lgap input {
    padding: 15px 40px;
}

.chklst li img {
    width: 50px;
}

.chklst {
    background: #fff;
    text-align: center;
    padding: 60px 0 10px;
}


.chklst ul li {
    margin: 0 0 40px 0;
}

.chklst ul li p {
    margin: 15px 0 0 0;
    font-size: 16px;
    color: #525252;
}
.chl-txt p {
    font-size: 16px;
    color: #525252;
}

.chl-txt p span {
    font-weight: 500;
}
.btncus {
    background: rgb(156, 224, 214);
    color: #fff;
    width: 240px;
    height: 54px;
    text-align: center;
    display: block;
    font-size: 16px;
    padding: 15px 0 0;
    margin: 37px auto;
    position: relative;
    left: -190px;
}


.checke {
  display: block;
  position: relative;
  padding-left: 38px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 400;
  font-size: 16px;
  margin: 18px 0 10px 0;
  border: none;
  box-shadow: none;
}

/* Hide the browser's default checkbox */
.checke input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: -4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checke:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checke input:checked ~ .checkmark {
  background-color: #9ce0d6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checke input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checke .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* step wizerd form Start */
.stepwizard-step p {
    margin-top: 0px;
    color:#666;
    font-size: 16px;
    margin: 12px -33px 0 0;
}
.stepwizard-row {
    display: table-row;
}
.stepwizard {
    display: table;
    width: 77%;
    position: relative;
    margin: 0 auto 34px;
    left: 33px;
}
.stepwizard-step button[disabled] {
    /*opacity: 1 !important;
    filter: alpha(opacity=100) !important;*/
}
.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
    opacity:1 !important;
    color: #fff;
    background: rgb(237, 237, 237);
    border-color: #fff;
    border-width: 5px;
}
.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content:" ";
    width: 49%;
    height: 8px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
    left: 206px;
}
.stepwizard-step {
    display: table-cell;
    text-align: right;
    position: relative;
}
.btn-circle {
    width: 40px;
    height: 40px;
    text-align: l;
    padding: 6px 0;
    font-size: 15px;
    line-height: 1.428571429;
    border-radius: 100%;
        background: rgb(33, 228, 193);
    border-color: rgb(125, 240, 221);
    border-width: 5px;
    columns: #fff;
}

.btn-success {background: rgb(33, 228, 193); border-color: rgb(125, 240, 221); border-width: 5px;}
.setup-content .frm-bx {
    border: none;
}

.panel-primary {border: 1px solid rgb(224, 224, 224);}

.setup-content {
    width: 790px;
    margin: 0 auto;
    background: #f2f5f5;
    border: none;
    box-shadow: none;
}

.btncus.xt-style {margin: 30px auto 0;position: unset;}
.sign-inbx {
    text-align: center;
}.sign-inbx {}

.sign-inbx {
    font-size: 21px;
    color: #525252;
}

.sign-inbx h1 {
    font-size: 24px;
    color: #525252;
}

.sign-inbx p {
    color: #525252;
    font-size: 16px;
    margin: 0 0 20px;
}

.signbx {
    width: 370px;
    margin: 0 auto;
}

.signbx .inp-sty input {
    font-size: 16px;
    color: #525252;
}

button.sub-btn {
    font-size: 16px;
    background: none rgb(161, 227, 217);
    border: 1px none rgb(51, 51, 51);
    color: #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    margin: 0 0 20px;
}

.signbx a {
    font-size: 14px;
    color: #525252;
    border-bottom: 1px solid rgb(158, 158, 158);
}

.signbx a:hover {
    text-decoration: none;
}

.dmo-main {
    margin: 13px 0 60px 0;
}

button.dmo-btn {
    font-size: 16px;
    background: none rgb(161, 227, 217);
    border: 1px none rgb(51, 51, 51);
    color: #fff;
    /* display: block; */
    width: 48%;
    padding: 15px 0;
    margin: 20px 0 0 4px;
    border: 1px none rgb(58, 194, 151);
    background: none rgb(25, 209, 178);
}

section.main-chkout h4 {
    color: #555;
    font-size: 18px;
    margin: 0 0 30px 0;
}

a.btncus.gtr:hover {
    text-decoration: none;
    color: #fff;
}
.main-bx-st {margin: 0px 157px 0 0;}

.icn {position: relative;}
.icn i {
    position: absolute;
    left: 0;
    top: 3px;
}
.ssn-bx h5 i {
    color: rgb(214, 214, 214);
    margin: 0 10px 0 0;
    font-size: 20px;
}

.ssn-bx h5 {
    font-size: 14px;
    font-weight: 400;
    color: #525252;
}

.ssn-bx p {
    background: rgb(230, 230, 230);
    padding: 10px 20px;
    color: rgb(61, 61, 61);
    font-size: 13px;
}

.chk-b {font-size: 14px;
    font-weight: 400;
    color: #525252;  margin: 0 0 0 10px;}

.chk-b i {color: rgb(214, 214, 214);
    margin: 0 10px 0 0;
    font-size: 20px;}
    a.btncus.gtr {
    color: #fff;
    position: unset;
    margin: 20px 0 20px 15px;
}

.bubble-r-box {
    background: #fff;
    border: 1px solid rgb(224, 224, 224);
    width: 306px;
}

.bubble-r-box h5 {
    padding: 7px 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
    font-size: 15px;
    color: #525252;
}

.buble-bx span {
    color: #525252;
    margin: -21px 0 0 22px;
    font-size: 20px;
    display: inline-block;
    position: relative;
}

.buble-bx h5 {
    display: inline-block;
    font-size: 14px;
    border: none;
}

.buble-bx h5 span {
    display: block;
    font-size: 14px;
    margin: 6px 0 0;
    font-weight: 400;
}

.buble-bx span i {position: relative;top: -10px;left: 2px;}

.ofr-lst {border: 2px solid rgb(33, 228, 193);margin: 0 20px 20px;}

button.btn-ofr {
    padding: 0px;
    cursor: inherit;
    background: none rgb(33, 228, 193);
    border: 1px none rgb(127, 149, 235);
    text-align: center;
    position: unset;
    box-sizing: border-box;
    z-index: 19;
    height: 26px;
    top: 16px;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 3px 3px 0px 0px;
    transition: background 200ms ease 0s;
    width: 129px;
    left: 0px;
    margin: 20px 0 0 20px;
}

.ofr-lst ul li {
    display: inline-block;
    font-size: 26px;
    color: #626262;
    margin: 0 60px 0 0px;
}

.ofr-lst ul li span {
    display: block;
    font-size: 13px;
    color: #525252;
}

.ofr-lst ul {
    padding: 20px 20px;
}

.ofr-lst ul li:first-child {
    color: rgb(45, 194, 129);
}

button.btn-loan {
    padding: 0px;
    cursor: pointer;
    background: none rgb(25, 209, 178);
    border: 1px none rgb(51, 51, 51);
    text-align: center;
    position: unset;
    box-sizing: border-box;
    z-index: 10;
    height: 42px;
    top: 0px;
    font-family: Rubik;
    font-size: 16px;
    color: rgb(255, 255, 255);
    line-height: 1;
    border-radius: 0px;
    transition: background 200ms ease 0s;
    width: 248px;
    left: 0px;
    margin: 0 0 20px 20px;
}

.btn-ofr.ofr-2 {
    background: none rgb(86, 164, 236);
    border: 1px none rgb(127, 149, 235);
}

.ofr-lst.ofr2 {
    border-color: rgb(86, 164, 236);
}


.edt-btn {
    padding: 0px;
    cursor: pointer;
    background: none transparent;
    border: 1px none rgb(51, 51, 51);
    text-align: center;
    position: unset;
    box-sizing: border-box;
    z-index: 11;
    height: 16px;
    top: 11px;
    user-select: none;
    font-family: Rubik;
    font-size: 14px;
    text-decoration: underline;
    color: rgb(148, 148, 148);
    line-height: 1;
    border-radius: 0px;
    transition: background 200ms ease 0s;
    width: 121px;
    left: 0px;
    text-transform: capitalize;
    margin: 0 0 0 20px;
}

.btn-loan.ofr {
    background: none rgb(86, 164, 236);
}

.ofr-lst.ofr2 ul li:first-child {color: rgb(86, 164, 236);}

/* step wizerd form End */

/* Responsive 
------------------------------------*/
/* Non Responsive Nav */

@media screen and (min-width: 1368px) and (max-width:1920px){

}

@media screen and (min-width: 1600px){

}

@media screen and (min-width: 1024px) and (max-width:1169px){

    .navi ul li {margin: 0 0 0 13px;}
    .gtl-imbx img {width: 477px;}
    .gtl-imbx {top: 36px;}
    .main-getloan {margin: 80px 0 40px;}
    .main-usersay {margin: 40px 0;}
    section.main-team p {
    text-align: center;
    color: rgb(82, 82, 82);
    font-size: 16px;
    margin: 0 0 60px;}
    .team p {text-align: center !important;}
    section.main-team {padding: 0; text-align: center;}
    .main-getloan {
    margin: 0 0 0;}
    .main-count {margin: 40px 0 40px 0;}
    .ofr-lst ul li {margin: 0 42px 0 0px; font-size: 18px;}
    .stepwizard-row:before {left: 155px;}

}

  @media screen and (max-width: 768px){
    .chl-txt p {font-size: 15px;}
    .inp-sty1 label, .checke {font-size: 14px;}
    .main-count {margin: 0 0 20px 0;}
    .news {padding: 20px 18px 58px;}
    section.main-team {padding: 0;}
     .drplst>ul>li {font-size: 13px; width: 109px;}
    .navi ul li  {margin: 0 0 0 4px; font-size: 13px;}
    .hom-txt h1 {font-size: 21px;}
    .hom-txt p {font-size: 20px;}
    .clientbx ul li {margin: 0 52px 0 0px;}
    .gtl-imbx img {width: 335px;}
    .gtl-imbx {top: 93px;}
    .main-getloan {padding: 47px 0 0; margin: 0 0 0;}
    .main-usersay {margin: 0;}
    .testimo {
    padding: 19px 14px 0;
    box-shadow: 0 0 24px #d8d0d0;
    border-radius: 2px; margin: 0 0 020px;}
section.main-count.abt #counter i {margin: 0 2px 0 0;}
    .testimo p {font-size: 13px;}

    .ofr-lst ul li {margin: 0 60px 28px 0px;}
    .edt-btn {margin: 0 0 20px 20px;}

    .main-bx-st {margin: 0px 0 0 0;}
    .bubble-r-box {width: 100%; margin: 0 0 0}
    .setup-content {width: 560px;}
    .stepwizard-row:before {left: 100px;}

}


@media screen and (min-width: 320px) and (max-width: 767px){
    
    .logo {text-align: center;}
    .drplst {margin: 0;}
    .navi {text-align: center; margin: 15px 0 10px 0;}
    .hom-txt h1 {
    font-size: 18px;
    text-align: center;}

.hom-txt p {
    font-size: 16px;
    text-align: center;}
    .hom-txt {
    text-align: center;
    margin: 0 0 10px 0;}
    .clientbx ul li {
    margin: 0 0 20px 0;
    display: block;}
    section.main-goals p  {margin: 0 0 30px}
    section.main-goals h3, .gtt-text h3 {font-size: 20px;}
    .gtl-imbx {display: none;}
    .gtl-text h3 {font-size: 22px; text-align: center;}
    #counter {float: none; width: 100%;}
    .main-usersay h2 {font-size: 20px;}
    .main-usersay p {margin: 0 0 15px;}
    .testimo {padding: 19px 14px 13px;}
    .gtt-text h2 {font-size: 22px;}
    footer.main-footer {
    text-align: center;}
    .ft-lst {
    margin: 0 0 30px;
    border-bottom: 1px solid #ddd;}
    
    .social-bx {
    margin: 0 0 15px 0;
}

.trm-lst {
    text-align: center;
    margin: 20px 0 0 0;
}

.baner {
    height: auto; padding: 0;
}

.ban-txt h1 {
    font-size: 23px;
    line-height: 28px;
    text-align: center;
}

.lstban {}

.lstban {
    margin: 0 0 0 20px;
}

.lstban ul li {
    font-size: 19px;
}

.ban-frm {
    margin: 0 auto;
    width: 290px;
}

.ban-frm h2 {
    text-align: center;
}

section.main-count.counterbox {
    margin: 0;
}
.inp-sty1 label {text-align: left;}
.btncus {left: 0;}
.chl-txt {
    margin: 30px 0 0;
}

.main-chkout {padding: 80px 0 0;}
footer.main-footer {padding: 30px 0 30px;}
.abt-txt {
    padding: 0;
}

.abt-txt h1 {
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    margin: 15px 0 19px 0;
}

h1 {}

section.main-goals.abt {
    margin: 0;
    padding: 0;
}

section.main-count.abt {margin: 0 0;}

section.main-team {
    padding: 0;
    text-align: center;
}


section.main-team p {
    text-align: center;
    padding: 0 !important;
    margin: 10px 0 15px !important;
}

.team p {
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;
}

section.main-chkout.brow-3 h1 {
    font-size: 19px;
    text-align: center;
    margin: 0 0 20px 0;}

    button.btn-loan {
    margin: 0 auto 9px;
    width: 90%;
    display: block;}

    .ofr-lst ul {
    text-align: center;
}

.ofr-lst ul li {margin: 0 0 20px 0;}

.bubble-r-box {margin: 20px 0 0 0;}
.chk-b {font-size: 12px;}
.signbx {width: 100%;}
.stepwizard-row:before {left: 40px;}
.stepwizard-step p {font-size: 13px; text-align: center; margin: 12px 0 0 0;}
.setup-content {
    width: 260px;
}
.btncus.xt-style {
    margin-bottom: 20px;
}


}

@media screen and (min-width: 375px) and (max-width: 414px){
    .setup-content {
    width: 320px;
}
}


@media screen and (max-width: 360px){

}

