{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'pages/partials/header.html' %}
<section class="abt-sec1">
    <div class="container">
        <div class="abt-txt">
            <h1>Your financial well-being is our<br> mission at Lendy.</h1>
            <div class="abtlst">
                <ul>
                    <li><a href="javascript:;">about us</a></li>
                    <li><a href="javascript:;">team</a></li>
                    <li><a href="javascript:;">press</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="imabt"><img class="img-responsive" src="{% static "frontend/assets/images/ab-banner.jpg" %}" alt=""> </div>
</section> <!-- About banner head End -->

<div class="clear"></div>
   <section class="main-goals abt">
    <div class="container">
        <h3>About Us</h3>
        <p>Lendy was founded in 2010 as the second peer-to-peer lending marketplace in<br>the United States. Since then, Lendy has facilitated more<br> than $3.5 billion in loans to more than 180,000 people.</p>

        <p>Through Lendy, people can invest in each other in a way that is financially and socially<br>rewarding. Borrowers apply online for a fixed-rate, fixed-term loan between $2,000<br>and $40,000. Individuals and institutions can invest in the loans and earn attractive<br>returns. Lendy handles all loan servicing on behalf of the matched borrowers and<br>investors.</p>

        <p>Lendy Marketplace is backed by leading investors including Sequoia Capital, Francisco<br>Partners, Institutional Venture Partners, and Credit Suisse NEXT Fund.</p>

    </div>
</section> <!-- main-goals End -->
<div class="clear"></div>

<section class="main-count abt">
  <div class="container">
      <div id="counter"><i class="count counterdigi" data-count="650"></i> <i>180,400</i> <p>Customers</p> </div>

      <div id="counter"><span class="count counterdigi" data-count="80"></span> <i>$3.5 Billion</i> <p>Borrowed</p> </div>

      <div id="counter"><span class="count counterdigi" data-count="84500"></span> <i><i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</i> <p>Average Customer Rating</p></div>


  </div>
</section> <!-- Counter End -->

    <div class="clear"></div>

<section class="main-team">
    <div class="container">
        <h3>Team</h3>
        <p>Lendy was founded by a well experienced team with a combined<br>experience of over 25 years in the financial services industry.</p>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="team">
                    <img src="{% static "frontend/assets/images/team1.jpg" %}" alt="">
                    <h6>Alicia Goodwin</h6>
                    <p>CEO & Co-Founder</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="team">
                    <img src="{% static "frontend/assets/images/team2.jpg" %}" alt="">
                    <h6>James Paul</h6>
                    <p>CEO & Co-Founder</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="team">
                    <img src="{% static "frontend/assets/images/team3.jpg" %}" alt="">
                    <h6>Anna Winthrop</h6>
                    <p>COO</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="team">
                    <img src="{% static "frontend/assets/images/team4.jpg" %}" alt="">
                    <h6>Mikaela Jones</h6>
                    <p>Head of Legal</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="team">
                    <img src="{% static "frontend/assets/images/team5.jpg" %}" alt="">
                    <h6>Frank Wells</h6>
                    <p>Head of Marketing</p>
                </div>
            </div>
        </div>
    </div>
</section>




    <section class="clientabt">
        <div class="container">

            <h3>Press Coverage</h3>
            <p>Lendy has been covered in by major news outlets and media companies</p>
            <div class="clientbx">
                <ul>
                    <li><img src="{% static "frontend/assets/images/reuters.svg" %}" alt="">   </li>
                    <li><img src="{% static "frontend/assets/images/bloomberg.svg" %}" alt="">   </li>
                    <li><img src="{% static "frontend/assets/images/npr.svg" %}" alt="">   </li>
                    <li><img src="{% static "frontend/assets/images/nbc.svg" %}" alt="">   </li>
                </ul>
            </div>
        </div>
    </section><!-- client box end -->
<div class="clear"></div>

<section class="main-news">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news">
                    <h5>Forbes</h5>
                    <h6>May 29,2018</h6>
                    <p>CEO Alicia Goodwin Talks<br> Borrowing and Investing with <br>Lendy</p>
                    <a href="javascript:;">read more</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news">
                    <h5>Forbes</h5>
                    <h6>May 29,2018</h6>
                    <p>CEO Alicia Goodwin Talks<br> Borrowing and Investing with <br>Lendy</p>
                    <a href="javascript:;">read more</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="news">
                    <h5>Forbes</h5>
                    <h6>May 29,2018</h6>
                    <p>CEO Alicia Goodwin Talks<br> Borrowing and Investing with <br>Lendy</p>
                    <a href="javascript:;">read more</a>
                </div>
            </div>
        </div>
    </div>
</section> <!-- main news ENd -->

{% include 'pages/partials/footer.html' %}

{% endblock %}
