{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'pages/partials/header.html' %}

    <div class="clear"></div>

<section class="main-chkout">
    <div class="container">
        <h1>Check your rate</h1>

        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="frm-bx">
                <h2>How much would you like to borrow?</h2>
                <div class="frm-gap">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Amount</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty lgap">
                            <input type="text" placeholder="Amount">
                            <span>$</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Loan Purpose</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                           <select name="" id="">
                            <option value="">What do you need it for?</option>
                            <option value="">Credit Cards</option>
                            <option value="">Debt Consolidation</option>
                            <option value="">Student Loans</option>
                            <option value="">Home Improvement</option>
                               <option value="">student loans</option>
                               <option value="">Medical/Dental</option>
                               <option value="">Busin</option>
                               <option value="">Large Purchase</option>
                               <option value="">Automobile</option>
                               <option value="">Special Occassion</option>
                               <option value="">Vacation</option>
                               <option value="">Baby or Adoption</option>
                               <option value="">Other</option>
                           </select>
                           <i class="fa fa-caret-down" aria-hidden="true"></i>

                       </div>
                    </div>
                </div>
                </div>
            </div> <!-- Form tab End -->

            <div class="frm-bx">
                <h2>Tell Us About Yourself</h2>
                <div class="frm-gap">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Full Name</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <input type="text" placeholder="First Name">

                        </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <input type="text" placeholder="Last Name">

                        </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Date of Birth</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Date of Birth (MM/DD/YYYY)">

                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Street Address</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Apt/Suite No, Street">

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Street Address</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <input type="text" placeholder="City">

                        </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <div class="inp-sty">
                           <select name="" id="">
                            <option value="">State</option>
                            <option value="">Alabama</option>
                            <option value="">Alaska</option>
                            <option value="">American Samoa</option>
                            <option value="">Arizona</option>
                               <option value="">Arkansas</option>
                               <option value="">California</option>
                               <option value="">Colorado</option>
                               <option value="">Connecticut</option>
                               <option value="">Delaware</option>
                               <option value="">District Of Columbia</option>
                               <option value="">Florida</option>
                               <option value="">Georgia</option>
                               <option value="">Guam</option>
                           </select>
                           <i class="fa fa-caret-down" aria-hidden="true"></i>

                       </div>

                        </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">ZIP & Phone</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <input type="text" placeholder="Zip/Postal Code">

                        </div>
                            </div>
                            <div class="col-md-6">
                                <div class="inp-sty">
                            <input type="text" placeholder="Phone Number">

                        </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row End -->

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Monthly Housing Payment</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Monthly Housing Payment">

                        </div>

                    </div>
                </div> <!-- Row End Here -->

                </div>
            </div> <!-- Form tab End -->

            <div class="frm-bx">
                <h2>What is your income?</h2>
                <div class="frm-gap">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Employment Status</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                           <select name="" id="">
                            <option value="">Employment Status</option>
                            <option value="">Employed</option>
                            <option value="">Self-Employed</option>
                            <option value="">Other</option>

                           </select>
                           <i class="fa fa-caret-down" aria-hidden="true"></i>

                       </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Individual Yearly Income</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty lgap">
                            <input type="text" placeholder="Individual Yearly Income">
                            <span>$</span>
                        </div>

                    </div>
                </div> <!-- Row End Here -->

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Additional Yearly Income</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty lgap">
                            <input type="text" placeholder="Additional Yearly Income">
                            <span>$</span>
                        </div>

                    </div>
                </div> <!-- Row End Here -->

                </div>
            </div> <!-- Form tab End -->

            <div class="frm-bx">
                <h2>Save your information</h2>
                <div class="frm-gap">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Email Address</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Email Address">

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Create Password</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Password">

                        </div>
                    </div>
                </div>
                </div>
            </div> <!-- Form tab End -->

        </div> <!-- col-md-8 End -->

        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="chklst">
            <ul>
                <li>
                    <img src="assets/images/stopwatch.svg" alt="">
                    <p>Check your rate in<br> 5 minutes</p>
                </li>
                <li>
                    <img src="assets/images/percent.svg" alt="">
                    <p>Get lower rates</p>
                </li>

                <li>
                    <img src="assets/images/wallet.svg" alt="">
                    <p>Single monthly payments</p>
                </li>

                <li>
                    <img src="assets/images/calendar2.svg" alt="">
                    <p>Fixed terms—3 or 5 years*</p>
                </li>

            </ul>
            </div>
        </div>
            <div class="clear"></div>
            <div class="chl-txt">
                <p>The following documents contain important information, including your agreement to do business with<br> <span>Lendy</span> electronically. <span>By clicking the box below, you confirm that you agree by electronic signature to:</span></p>
            </div>

            <label class="checke">the Credit Report Authorization, Terms of Use and Electronic Consent, Data Terms of Use & Prosper privacy policies.

  <input type="checkbox">
  <span class="checkmark"></span>
</label>

<a class="btncus" href="javascript:;">Check your rates</a>

    </div> <!-- container End -->

</section>
{% include 'pages/partials/header.html' %}

{% endblock %}
