{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'pages/partials/header.html' %}
  <section class="hom-baner">
      <div class="container">
          <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="hom-txt">
                  <h1>Hello Financial Well-Being</h1>
                  <p>Get low Interest, fixed-term personal loans at the best rates with our inclusive scoring system</p>
                  <a href="javascript:;">Check your rate</a>
              </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="hom-im"><img class="img-responsive" src="{% static "frontend/assets/images/homban.jpg" %}" alt="Banner"></div>
          </div>
      </div>
      </div>
  </section>
  <div class="clear"></div>
  <section>
      <div class="container">
          <div class="clientbx">
              <ul>
                  <li><img src="{% static "frontend/assets/images/reuters.svg" %}" alt="">   </li>
                  <li><img src="{% static "frontend/assets/images/bloomberg.svg" %}" alt="">   </li>
                  <li><img src="{% static "frontend/assets/images/npr.svg" %}" alt="">   </li>
                  <li><img src="{% static "frontend/assets/images/nbc.svg" %}" alt="">   </li>
              </ul>
          </div>
      </div>
  </section><!-- client box end -->

<section class="main-goals">
  <div class="container">
      <h3>Get your own personalized loans</h3>
      <p>Consolidating debt? Paying for a large expense like<br> home improvement or a special occasion? We have you<br> covered.</p>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="bx1">
                  <div class="imbx">
                      <img src="{% static "frontend/assets/images/percent.svg" %}" alt="">
                  </div>
                  <h5>Get low rates</h5>
                  <p>Get a loan with a low, fixed rate that never goes up. Check your rate online instantly.</p>
              </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="bx1">
                  <div class="imbx">
                      <img src="{% static "frontend/assets/images/calendar.svg" %}" alt="">
                  </div>
                  <h5>Convenient Payback</h5>
                  <p>Pay off your loan with fixed 3 or 5-year* terms, and a budget-friendly, single monthly payment.</p>
              </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="bx1">
                  <div class="imbx">
                      <img src="{% static "frontend/assets/images/money.svg" %}" alt="">
                  </div>
                  <h5>Save money</h5>
                  <p>Pay your loan off at any time with no pre-payment penalties.</p>
              </div>
          </div>
      </div>
  </div>
</section> <!-- main-goals End -->

<section class="main-getloan">
  <div class="container">
      <div class="col-md-6 col-sm-6 col-xs-12">

          <div class="gtl-text">
              <h3>Invest in 3 simple steps</h3>
              <div class="gtl-lst">
                  <div class="media">
                    <div class="media-left">
                      <h4>1</h4>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Discover</h4>
                      <p>Browse loan applications from credit-checked borrowers with various ratings and terms</p>
                    </div>
                  </div>
              </div>

              <div class="gtl-lst">
                  <div class="media">
                    <div class="media-left">
                      <h4>2</h4>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Invest</h4>
                      <p>Choose and fund the loans you wish to invest in with various amounts</p>
                    </div>
                  </div>
              </div>

              <div class="gtl-lst">
                  <div class="media">
                    <div class="media-left">
                      <h4>3</h4>
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Earn</h4>
                      <p>Receive your monthly returns in your Lendy account and reinvest or withdraw</p>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="gtl-imbx">
        <img class="img-responsive" src="{% static "frontend/assets/images/ritim.jpg" alt="">
  </div>
</section> <!-- main-getloan End -->


<section class="main-count abt">
<div class="container">
    <div id="counter"><i class="count counterdigi" data-count="650"></i> <i>180,400</i> <p>Customers</p> </div>

    <div id="counter"><span class="count counterdigi" data-count="80"></span> <i>$3.5 Billion</i> <p>Borrowed</p> </div>

    <div id="counter"><span class="count counterdigi" data-count="84500"></span> <i><i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
<i class="fa fa-star" aria-hidden="true"></i>
</i> <p>Average Customer Rating</p></div>


</div>
</section>


<section class="main-usersay">
  <div class="container">
      <h2>What our users are saying about us</h2>
      <p>Don't take our word for it. Read testimonials from actual investors on Lendy</p>
      <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="testimo">
                  <p>Lendy is by far the easiest way to invest I have found online and I have not had a problem since I started investing with them in 2016</p>
                  <div class="user">
                  <div class="media">
                    <div class="media-left">
                      <img src="{% static "frontend/assets/images/user.jpg" %}" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Hannah Maxwell</h4>
                      <p>VP at Facebook</p>
                    </div>
                  </div>
              </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="testimo">
                  <p>Lendy is by far the easiest way to invest I have found online and I have not had a problem since I started investing with them in 2016</p>
                  <div class="user">
                  <div class="media">
                    <div class="media-left">
                      <img src="{% static "frontend/assets/images/user.jpg" %}" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Hannah Maxwell</h4>
                      <p>VP at Facebook</p>
                    </div>
                  </div>
              </div>
              </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="testimo">
                  <p>Lendy is by far the easiest way to invest I have found online and I have not had a problem since I started investing with them in 2016</p>
                  <div class="user">
                  <div class="media">
                    <div class="media-left">
                      <img src="{% static "frontend/assets/images/user.jpg" %}" alt="">
                    </div>
                    <div class="media-body">
                      <h4 class="media-heading">Hannah Maxwell</h4>
                      <p>VP at Facebook</p>
                    </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </div>
</section>


<section class="main-getstart">
  <div class="container">
      <div class="gtt-text">
          <h2>We want to help you succeed</h2>
          <h3>Get your rate in just 2 minutes — it won't affect your<br>credit score!</h3>
          <a href="javascript:;">get started now</a>
      </div>
  </div>
</section> <!-- main-getstart End -->

{% include 'pages/partials/footer.html' %}

{% endblock %}
