{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'pages/partials/header.html' %}

<header class="header chkout">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="logo"><img src="assets/images/logo.svg" alt=""></div>
                </div>
            </div>
        </div>
    </header>


    <div class="clear"></div>

<section class="main-chkout">
    <div class="container">

       <div class="container">
    <div class="stepwizard">
        <div class="stepwizard-row setup-panel">
            <div class="stepwizard-step col-xs-3">
                <a href="#step-1" type="button" class="btn btn-success btn-circle">1</a>
                <p><small>Setup Account</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-2" type="button" class="btn btn-default btn-circle" disabled="disabled">2</a>
                <p><small>Personal Details</small></p>
            </div>
            <div class="stepwizard-step col-xs-3">
                <a href="#step-3" type="button" class="btn btn-default btn-circle" disabled="disabled">3</a>
                <p><small>Fund Account</small></p>
            </div>

        </div>
    </div>

    <form role="form">
        <div class="panel panel-primary setup-content" id="step-1">

            <div class="frm-bx">
                <h2>Setup your account</h2>
                <div class="frm-gap">
                    <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Location</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Where do you live?">

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Email Address</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="text" placeholder="Email Address">

                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="inp-sty1">
                            <label for="">Create Password</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="inp-sty">
                            <input type="Password" placeholder="Password">

                        </div>

                    </div>
                </div>
                </div>

            </div>
            <label class="checke">I have read and agree to Lendy's terms of service and privacy policy
                  <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <a class="btncus xt-style" href="javascript:;">Create your account</a>
        </div>

        <div class="panel panel-primary setup-content" id="step-2">
            <div class="panel-heading">
                 <h3 class="panel-title">Destination</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Company Address</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
                </div>
                <button class="btn btn-primary nextBtn pull-right" type="button">Next</button>
            </div>
        </div>

        <div class="panel panel-primary setup-content" id="step-3">
            <div class="panel-heading">
                 <h3 class="panel-title">Schedule</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Company Address</label>
                    <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Company Address" />
                </div>
                <button class="btn btn-success pull-right" type="submit">Finish!</button>
            </div>
        </div>


    </form>
</div>

    </div> <!-- container End -->

</section>

{% endblock %}
{% include 'pages/partials/footer.html' %}
